#root {
 margin: 0px;
 box-sizing: border-box;
 
 font-size: 1rem;
 overflow: hidden !important;
 /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.container {
  width: 100vw !important;
 height: 100vh !important;
}
@media screen and (max-width:601px) {
  #navbarNav{
  
    height: fit-content !important;
    padding-bottom: 10px;
    margin-top: 20px;

  }
  .navbar-brand{
    display: none !important;
  }
  #navbarNav  .loginbtns{
    display: flex !important;
    justify-content: space-between !important;
  }
  .loginbtns .btn-light{
    margin-right: 10px !important;
  }
  .container{
    width: 70% !important;

  }
  .footer2{
    display: none !important;
  }
  footer{
    margin-left: 20px;
  }

}

/* footer */
.footer-list{

  margin: 0px;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(39, 38, 38);
  
}
.footer-list:hover{
  color: #ffbb00;
  cursor: pointer;
}
.bottom-banner{
  background-color: #161615;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
}
.hero-section{
  width: 100%;
  height: 120vh;
}

#navbarNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.heroHeader {
  font-size: 2rem;
  font-weight: 600;
  color:black;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width:601px) {

  .heroHeader{
    font-size: 1rem;
  }
  .about-section{
    height: fit-content !important;
  }
  .productImagesContainer img:nth-child(2){
    display: none;
  }
  .productImagesContainer img:nth-child(1){
    width: 200px;
    height: 500px;
  }
  .productImagesContainer img:nth-child(3){
    display: none;
  }
  .hero-section{
    height: fit-content !important;
    width: 80% !important;
    margin-bottom: 30px !important;
  }
  .contact{
    margin-left: 20px !important;
  }

}
.heroHeader p{
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.productImagesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
 
    height: 50vh;
    /* width: 80vw; */
  margin-top: 70px;

  
  
}
.productImagesContainer img{
  width: 300px;
  height: 800px;
  object-fit: cover; 
}

.download-btn{
  display: flex;
  justify-content:center;
  margin-top: 10px;
}
.download-btn img{
  width: 150px;
  height: 70px;
  object-fit: cover;
  border-radius: 20px;

}
.download-btns img {
  width: 150px;
  height: 70px ;
  border-radius: 20px;
  object-fit: cover;
}



.About-header{
  display: grid;
  place-items: center;

  height: 20vh;

}
.About-header h1{
  font-weight:800;
  font-size: 4rem;

}
.photoContainer{
  width: 50%;
position: relative;
display: grid;
place-items: center;


}
.about-photo{
  width:500px ;
  height: 900px ; 
  z-index: 900;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.rectangle-color{
  background-color: #ffbb00;
  width: 400px;
  height: 200px;
  align-self: center;
  position: absolute;
  transform:translateY(20%);
  border-radius: 10px;
  z-index: 0;

}
.about-textContent{
  display: grid;
place-items: center;
flex: 1;

}
.aboutSectionContent{
  width: 80vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.aboutSectionContent2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
}
.about-textContent2{
  width: 40vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photoContainer2{
  width: 50%;
  position: relative;
  display: grid;
  place-items: center;
}

@media screen and (max-width :601px) {
  .about-photo{
    width: 200px !important;
    height: 600px !important;
    object-fit: cover;
    z-index: 900;

  }
  .rectangle-color{
    background-color: #ffbb00;
  width: 300px;
  height: 150px;
  align-self: center;
  position: absolute;
  transform:translateY(20%);
  border-radius: 10px;
  z-index: 0;
  }
  .about-textContent{
    width: 100vw !important;
    display: grid !important;
    place-items: center !important;
    margin-left: 20px !important;
  }
  .about-textContent h2{
    font-weight: 800;
  }
  .our-clients{
    height: 80vh !important;
  }
  .our-clients-header h1{
    font-weight: 800;
    font-size: 27px !important;
  }
 
  
}

.learn-more3{

  border: #ffbb00 1px solid !important;
  color: black !important;
  width: 140px !important;
  height: 40px !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;


}
.learn-more3:hover{
  background-color: #ffbb00 !important;
  color: white !important;
  cursor: pointer !important;
}

.our-clients{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-clients h1{
  font-size: 4rem;
  font-weight: 600;
  
}
.our-clients-content{
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
@media screen and  (max-width : 601px) {
  .our-clients-content{
    width: 30vw !important;
    height: 60vh !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .our-clients-content img{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
  }
  .our-clients-content-item{
    width: 100px;
    height: 100px;
  }
  .faqs .faqs-content-item{
    width: 100vw !important;
    
  }
  .faqs{
    height: max-content !important;
  }
  .faqs-content{
    height: fit-content !important;
    
  }
  
  .faqs h1{
    font-size: 2rem !important;
  }
  .download-text-content{
    height: fit-content !important;
    text-align: center !important;
  }
  .download-text-content h1{
      font-size: 24px !important;
      margin-top: 20px !important;
      font-weight: 800;
      margin-bottom: 20px !important;
  }
.download-photo-container {
  display: none !important;
}
.faqs-header{
  margin-top: 40px;
  margin-bottom: 20px;
}

.faq-open-btn h3 {
  font-size: 13px !important;
}
.item-Header h3{
font-size: 15px;
font-weight: 600;
}
.contact-header h1{

  font-size: 2rem;
  font-weight: 800;

}


  
}
.our-clients-content img{
  width: 200px;
  height: 100px;
  object-fit: cover;
  aspect-ratio: 16/9;
  /* transition: ease-in-out 0.5s; */
  overflow: hidden;
}
.our-clients-content img:hover{
  transform: scale(1.1);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: black 0px 0px 10px 0px;
}
.our-clients-content-item {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
  margin-bottom: 10px;
}
.our-clients-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.client-text{
  
 font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
}
.faqs{
  margin-top: 20px;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faqs h1{
  font-size: 4rem;
  font-weight: 600;
}
.faqs-content{
  width: 80vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.faqs-content-item{
  width: 18vw;
  margin-left: 5px;
}

.faq-open-btn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  
  border: 1px solid #ffbb00;
 
  border-radius: 10px;
  padding: 0 20px;
 
}
.faq-open-btn:hover{
  background-color: #ffbb00;
  color: white;
  cursor: pointer;
}


.item-Header{
  display: flex;
  
  align-items: center;
}
.item-Header h3{
  font-size: 20px;
}
.item-content{
  /* max-height: 0px; */
  display: none;
}
.download-photo-container{
  width: 500px;
  height: 620px;
  transition: ease-in-out 8s;
  overflow: hidden;


}
.download-photo-container img{

  width: 500px;
  height: 700px;
  object-fit: cover;
}
.download-photo-container img:hover{
  transform: scale(1.2);

}
.download-text-content{
  display: grid;
  place-items: center;
  height: 700px;
  width: 100%;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
  margin-top: 40px;
}
.contact-header{
 height: 20vh;
 display: grid;
 place-items: center;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;

}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffbb00;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}





